@import '../../color-and-font.scss';

.app {
  display: flex;
  justify-content: center;
  margin: 100px 0 30px 0;
  font-family: $main-font;

  .form-container {
    width: 500px;
    max-width: 80%;
    background: #fff;
    border-radius: 5px;

    h2 {
      color: $hover-color;
      font-size: 30px;
    }

    .create-container {
      padding: 20px 30px;

      form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: baseline;

        label {
          color: $hover-color;
          padding-top: 15px;
          padding-bottom: 5px;
          font-weight: bold;
        }
        input[type='text'], 
        input[type='url'], 
        select, 
        textarea {
          padding: 7px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background: $other-color;
          width: 80%;
          &::placeholder {
            font-family: $main-font;
            color: rgb(67, 67, 67);
          }
        }
        textarea {
          height: 80px;
          resize: none;
        }
        input[type='submit'] {
          align-self: center;
          border: 0;
          border-radius: 5px;
          padding: 10px 15px;
          margin: 10px 0;
          background: $other-color;
          color: $hover-color;
          font-weight: bold;
          font-family: $main-font;
        }
      }
    }
  }
}